.login {
  padding-top: 24px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #000 !important;
}


.input-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.login-form {
  width: 400px;
}

.toggle-password {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--blue-600);
  display: flex;
  align-items: center;
}

.input-wrapper input {
  padding: 10px 12px 10px 40px;
  border: 2px solid var(--blue-400);
  outline: none;
  width: 100%;
  border-radius: 14px;
  background: white;
}

.input-wrapper label {
  position: absolute;
  font-size: 14px;
  right: 15px;
  transform: translateY(-50%);
  padding: 0 5px;
  color: var(--blue-600);
  pointer-events: none;
  background: white;
}

.btn-wrapper {
  display: flex;
  gap: 6px;
  width: 100%;
  height: 48px;
}

.login-btn {
  flex: 1;
  padding: 10px;
  font-weight: 600;
  border: 2px solid var(--blue-400);
  color: var(--blue-600);
  outline: none;
  border-radius: 14px;
  background: none;
  cursor: pointer;
}

.register-link {
  flex: 5;
  padding: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--blue-400);
  color: var(--blue-600);
  outline: none;
  border-radius: 14px;
  background: none;
  text-decoration: none;
}

@media (max-width: 991.98px) {
  .login-form {
    width: 300px !important;
  }

  .login-btn {
    font-size: 14px !important;
  }

  .register-link {
    font-size: 14px !important;
  }
}
