.disremember {
  padding-top: 24px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

.input-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.disremember-form {
  width: 400px;
}

.input-wrapper input {
  padding: 10px 12px;
  border: 2px solid var(--blue-400);
  outline: none;
  width: 100%;
  border-radius: 14px;
  background: white;
}

.input-wrapper label {
  position: absolute;
  font-size: 14px;
  right: 15px;
  transform: translateY(-50%);
  padding: 0 5px;
  color: var(--blue-600);
  pointer-events: none;
  background: white;
}

.disremember-btn {
  flex: 1;
  padding-right: 12px;
  padding-left: 12px;
  font-weight: 600;
  border: 2px solid var(--blue-400);
  color: var(--blue-600);
  outline: none;
  border-radius: 14px;
  background: none;
  height: 48px;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .disremember-form {
    width: 300px !important;
  }

  .disremember-btn {
    font-size: 14px !important;
  }
}
